<div class="container">
    <h1 class="display-4">Sorry, @ViewData["fullName"] !</h1>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            <img src="~/images/sad.png" alt="No-Card" height="100">
        </div>
        <div class="col-md-8 col-sm-12">
            <div>
                <div>This time you are not eligible for any card</div>
            </div>
        </div>
    </div>
</div>